@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,700&display=swap");

.about {
  border: none;
  font-family: "Lato", sans-serif;
  max-height: 50%;
  /* padding-left: 3rem; */
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h1 {
  color: #223240;
  font-size: 80px;
  margin: 0 auto;
  /* writing-mode: vertical-lr;
  text-orientation: upright; */
}

.p {
  color: #223240;
  font-size: larger;
  margin: 0 auto;
  width: 80%;
  /* padding-right: 3rem; */
}

.links {
  color: white;
  width: fit-content;
  height: fit-content;
  margin-top: 3rem;
}

.links a {
  color: white;
  text-decoration: none;
  padding: 16px 54px;
  border: 1px white solid;
  font-size: small;
}

@media (min-width: 640px) {
  .about {
    padding-left: 1rem;
    padding: 1rem;
    padding-top: 2rem;
    flex-direction: row;
  }
  .p {
    padding-right: 1rem;
    /* margin-top: 2rem;
    padding-top: 5rem; */
    width: 70%;
  }
  .h1 {
    font-size: 55px;
    writing-mode: vertical-lr;
    text-orientation: upright;
  }
}
