@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.card {
    border: none;
    font-family: 'Montserrat', sans-serif;
    
    max-width: 60%;
    max-height: 50%;
    padding-left: 3rem;
    padding-top: 1rem;
}

.h1{
    color: #223240;
    font-size: 42px;
    margin: 0;
}


.form{
    display:flex;
    flex-direction: column;
}

.form input{
    font-family: 'Montserrat', sans-serif;

}

.form label{
    font-family: 'Montserrat', sans-serif;

}

.submitBtn button{
    padding: 9px 25px;
    background-color: #60BF81;
    border: none;
    /* border-radius: 50px; */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
    margin-top: 1rem;

}

.submitBtn button:hover{
    background-color: #3B8C66;
}

.addOptionBtn {
    display: flex;
    justify-content: center;
    border:none;
    background: none;
}

.addOptionBtn:hover{
    cursor: pointer;
}

.modal {
    position:fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.options {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.options select {
    width: 180px;
    height: 1.5rem;
    align-self: center;

    height: 50px;
    background: #EDF2F7;
    border: none;
    border-radius: 10px;
    margin: 0.5rem 0;
    padding-left:10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}


.inputContainer {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.inputLabel{
    display: flex;
    flex-direction: column;
}

.inputLabel input {
    height: 50px;
    background: #EDF2F7;
    border: none;
    border-radius: 10px;
    margin: 0.5rem 0;
    padding-left:10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 

}

