.background{
  background-image: url('../public/images/homebg3.jpg');
  width: fit-content;
  height: fit-content;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 1;
  width: 100%;
  height: 100%;
}