@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.picture {
    border-radius: 50%;
    margin:auto
}

.picture:hover{
    cursor: pointer;
}

.pic{
    margin-left: 40px;
    align-items: center;
}

.container button{
    padding: 10px 20px;
    color:#223240;
    background-color: #60BF81;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}

.container button:hover{
    background-color: #3B8C66;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 3rem;

}

.big button {
    padding: 1rem 2rem;
    color:#223240;
    background-color: #60BF81;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
    margin-left: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.big button:hover {
    background-color: #3B8C66;
}

.big {
    display: flex;
    justify-content: center;
}

@media (min-width: 640px) {
   
    .big button {
        padding: 20px 60px;
        font-size: 1.5rem;
    }

    .container{
        margin-top: 0;
    }

    .container button{
        padding: 5px 10px;
        color:#223240;
        background-color: #60BF81;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        font-family: 'Montserrat', sans-serif;
        margin-left: 1rem;
        font-weight: bold;
    
    }
}