@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.Navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #223240;
    /* max-height: 3rem; */


}

.scrolled {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #223240;
    height: 70px;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5%;
}

.logo {
    margin-right: auto;
}

.container span:hover {
    cursor: pointer;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: none;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    color: #60BF81;
    text-decoration: none;
    margin-left: 0px;
    font-family: 'Montserrat', sans-serif;
}

.nav_links li a:hover {
    color: #3B8C66;
}

.btn {
    background-color: #223240;
    border: none;
}


.mobileMenu{
    display:flex;
    flex-direction: column-reverse;
}


.mobileLinks{
    display:flex;
    height: 100vh;
    z-index: 3;
    flex-direction: column;
    justify-content: center;
    border: none;
    padding: 0;
    align-items: center;
}
.mobileLinksClose{
    display:none;
}
.mobileLinks a{
    transition: all 0.3s ease 0s;
    color: #60BF81;
    text-decoration: none;
    margin-left: 0px;
    font-family: 'Montserrat', sans-serif;
}

.mobileLinks:hover{
    color: #3B8C66;
}


.menuBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    padding: 0;
    right: 1.5rem;
    top:20px;
}

.menuBtn:hover {
    outline: none;
}

.menuBtnClose{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    padding: 0;
    right: 1.5rem;
    top:20px;
}


.bar1, .bar2, .bar3{
    width: 1.5rem;
    height: 0.25rem;
    background-color: #223240;
    background-color: #60BF81;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

.bar1{
    transform: rotate(0);
}

.bar2{
    opacity: 1;
    transform: translateX(0);
}

.bar3{
    transform: rotate(0);
}
.menuBtn .bar1{
    transform: rotate(45deg);
}

.menuBtn .bar2{
    opacity: 0;
    transform: translateX(20px);
}
.menuBtn .bar3{
    transform: rotate(-45deg);
}

@media (min-width: 600px) {
    .menuBtn {
        display: none;
    }

    .nav_links li {
        display: inline-block;
        padding: 0px 15px;

    }

    .mobileLinks {
        display: none;
    }

    .menuBtn, .menuBtnClose {
        display:none;
    }
}