.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}

.main article {
    padding: 20px 40px;

}


.toc{
    position: sticky;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(96, 191, 129, 0.3);
    margin-left: 16px;
    padding: 0;
    backdrop-filter: brightness(105%);
}
.packages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.heading{
    align-self: center;
    font-size: 2rem;
    color:#223240;
    margin: 1rem 0;
}

.content{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.content p{
    margin-top: 0;
}
.package{
    max-width: 80%;
    display: flex;  
    flex-direction: column;
    justify-content: center;
}

.funcName{
    font-size: larger;
    margin-bottom: 0.5rem;
}

.funcLength{
    /* align-self: center; */
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.funcBody{
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #3B8C66;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    /* word-wrap: break-word; */

    outline:none;
    resize: none;
    min-height: 200px;
    min-width: 300px;
    width: fit-content;

}


.funcBody:hover{
    border-left-color: #60BF81;
}

.postData > *{
    scroll-margin-top: 1rem;
}

/* .postData h2{
}

.postData p{
} */

.btns{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.navBtns{
    padding: 10px 20px;
    color:#223240;
    background-color: #60BF81;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0 0.5rem;
}

.navBtns:hover, .pageNumber:hover{
    background-color: #3B8C66;
}

.navBtns:disabled, .pageNumber:disabled{
    filter: grayscale(1);
    cursor:default;
}

.pageNumbers{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 1rem;
}

.pageNumber{
    padding: 10px 16px;
    color:#223240;
    background-color: #60BF81;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 0 0.5rem 0.5rem 0.5rem;
}

@media (min-width: 640px){
    .funcBody{
        min-width: 400px;
        width: 70%;
    }

    .heading{
        font-size: 3.5rem;
    }
}

@media (min-width: 768px){
    .funcBody{
        min-width: 650px;

    }
}

@media (min-width: 1000px) {
    .toc{
        display: flex;
    }
}