.TOC{
    position: sticky;
    position: -webkit-sticky; /* For Safari */
    top: 24px; /* How far down the page you want your ToC to live */
  
    /* Give table of contents a scrollbar */
    max-height: calc(100vh - 40px);
    overflow: auto;
    min-width: 250px;
    width:fit-content;
    display:none;
    /* margin-left: 2rem; */
    /* margin-top: 4rem; */
    padding-right: 10px;


    /* */
    position: sticky;
    top: 5rem;
    right: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(96, 191, 129, 0.3);
    
    /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; */
    /* margin-left: 16px; */
    padding: 0;

    backdrop-filter: brightness(105%);

}

.TOC h3{
    margin: 0.5rem 0 0.5rem 1rem;

}

.TOC ul {
    list-style-type:none;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0 0 0 1rem;
}

.TOC li a {
    text-decoration: none;
    opacity: 1;
    font-weight: 600;
    color: #223240;
}
.TOC li a:hover {
    opacity: 0.75;
}


.videoTOC{
    position: sticky;
    position: -webkit-sticky; /* For Safari */
    bottom: 1rem; 
  
    
    max-height: calc(100vh - 40px);
    overflow: auto;
    min-width: 250px;
    width:fit-content;
    display:none;
    /* margin-left: 2rem; */
    padding-right: 10px;

    /* */
    position: sticky;
    top: 5rem;
    right: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(96, 191, 129, 0.3);
    
    /* border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; */
    /* margin-left: 16px; */
    padding: 0;

    backdrop-filter: brightness(105%);
}

.videoTOC h3{
    align-items: flex-start;
    margin: 0.5rem 0 0.5rem 1rem;
}
.videoTOC ul {
    list-style-type:none;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0 0 0 1rem;

}

.videoTOC li a {
    text-decoration: none;
    opacity: 1;
    font-weight: 600;
    color: #223240;
}
.videoTOC li a:hover {
    opacity: 0.75;

}


@media (min-width: 1000px){
    .TOC{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }
    .videoTOC{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}